* {
margin: 0%

}
h1 {
    font-family:'quicksand',
    font-size 3.5reme;
    line-height: 2em;
    {
    /*
    h2{
        font-family:'Quicksand'
        font-size: 2.5rem;
        line-height: 1.5em;
    {
    p{
    font-family: 'slabo 27px', serif;
    font-size: 1.5em;
    padding-top: 2em;
    margin: 40px;
    line-height: 1.6em;

    }
.hero {
display: flex;
justify-content: center;
align-items: center;
/*background: #333;*/
/*background: rgba(0,0,0,0.25);*/
background-image: linear-gradient(
    90deg;
    rgba( 255, 0, 0, 0.614),
    rgba (0, 0, 255,0,733)








. video-bg {
position: absolute;
z-index: -1;
top:50%;
left:50%
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
}
/*
intro {
text-align: center;
width: 80%;
margin: 0 auto;
max-width: 960px;
}
.row {
display  

    
    